.frigb-saved
  font-size: 14px
  color: #3c763d

.frigb-saved-inline
  position: absolute
  top: -1px
  right: 32px
  padding: 9px 2px
  font-size: 14px
  color: #3c763d
  text-align: center
  width: 33px

.frigb-colorpicker-inline
  right: 56px

.frigb-checkbook
  float: right
  color: #3c763d
  font-size: 14px

